@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b3a;
  font-family: 'Share Tech', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hexa-left{fill:#aa87de;fill-opacity:1;}
.hexa-mid{fill:#8d5fd3;fill-opacity:1;}
.hexa-right{fill:#5a2ca0;fill-opacity:1;}
.hexa-top-light{fill:#7137c8;fill-opacity:1;stroke:none;stroke-width:16;stroke-linecap:round;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:0.394737;paint-order:normal;}

